html,
body,
#root,
#canvas {
    height: 100%;
    padding: 0;
    margin: 0;
}

.bdv-dropzone {
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-style: dashed;
    background-color: #fafafa;
    color: #a2a2a2;
    outline: none;
    transition: border 0.24s ease-in-out;
}

.bdv-dropzone-draged {
    color: #0d462c;
    background-color: #d1e7dd;
}

.bdv-dropzone-reject {
    color: #721c24;
    background-color: #f8d7da;
}

.bdv-file-alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.bdv-checkbox-bar {
    position: fixed;
    top: 10px;
    left: 10px;
}

.bdv-info-bar {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.bdv-toolbar-ctrl {
    background: #fafafa;
    border-radius: 0.75rem;
    border: solid 1px #e0e0e0;
}
.bdv-toolbar-ctrl:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.bdv-toolbar-slider {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: small;
}

.bdv-h-44 {
    height: 44%;
}

.bdv-br {
    border-radius: 0.75rem !important;
}

.bdv-font-small {
    font-size: small;
}

.bdv-close-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: x-large;
}

.bdv-color-grey {
    color: #6c757d;
}

.diagram-note {
    background-color: rgba(66, 180, 21, 0.7);
    color: White;
    font-size: 10px;
    text-align: center;
}

.bdv-pointer {
    cursor: pointer;
}
